<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout">
<div th:fragment="conteudo">

  <div class="container mt-3">
    <div class="row text-light bg-dark pt-3 pb-3">
      <div class="col-sm-auto">
        <h2>Disciplinas <b>CRUD</b></h2>
      </div>
      <div class="col">
        <a href="#nova-disciplina-modal" class="btn btn-primary" data-toggle="modal"> <span class=" h-100 d-inline-block">
            <span class="material-icons  align-middle">add_circle_outline</span>
            <span class="ml-1 mb-1  align-middle">Adicionar nova disciplina</span>
          </span>
        </a>
      </div>
    </div>
    <div class="row">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Professor</th>
            <th>Período</th>
            <th>Classroom</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="disciplina:${lista}" th:object="${disciplina}">
            <td th:text="*{id}">1</td>
            <td th:text="*{nome}">2</td>
            <td th:text="*{professor}">3</td>
            <td th:text="*{periodo}">4</td>
            <td th:text="*{codigo}">5</td>
            <td>
              <a href="#excluir-disciplina-modal" data-toggle="modal" th:attr="data-id=*{id}">Excluir</a> <a href="#editar-disciplina-modal"
                data-toggle="modal">Editar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- modal nova disciplina -->
  <div id="nova-disciplina-modal" class="modal fade ">
    <div class="modal-dialog ">
      <div class="modal-content text-white bg-dark">
        <form action="/disciplina-grava" method="post" th:object="${disciplina}">
          <div class="modal-header">
            <h4 class="modal-title">Nova Disciplina</h4>
            <button type="button" class="close btn-primary" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Nome</label> <input type="text" th:field="*{nome}" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Professor</label> <input type="text" th:field="*{professor}" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Período</label><br>
              <div th:each="p : ${#numbers.sequence(1,5)}" class="form-check form-check-inline">
                <input type="radio" class="form-check-input" th:field="*{periodo}" th:value="${p}" /> 
                  <label class="form-check-label" th:text="${p}">Periodo</label>
              </div>
            </div>
            <div class="form-group">
              <label>Código sala classroom</label> <input type="text" th:field="*{codigo}" class="form-control" required>
            </div>
          </div>
          <div class="modal-footer bg-dark">
            <input type="submit" class="btn btn-primary" value="Cadastrar">
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- modal editar -->
  <div id="editar-disciplina-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Edit Employee</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Name</label> <input type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Email</label> <input type="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Address</label>
              <textarea class="form-control" required></textarea>
            </div>
            <div class="form-group">
              <label>Phone</label> <input type="text" class="form-control" required>
            </div>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"> <input type="submit"
              class="btn btn-info" value="Save">
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- modal confirma exclusão -->
  <div id="excluir-disciplina-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/excluir-disciplina" method="get">
          <div class="modal-header">
            <h4 class="modal-title">Excluir disciplina</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p>Tem certeza que deseja excluir registro com id: <span id="codigo">id da disciplina</span></p>
            <p class="text-warning">
              <small>Não pode ser desfeito.</small>
            </p>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"> 
            <input type="submit" class="btn btn-danger" value="Delete">
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
</html>