<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout">
<div th:fragment="conteudo">

  <div class="container mt-3">
    <div class="row text-light bg-dark pt-3 pb-3">
      <div class="col-sm-auto">
        <h2>Disciplinas <b>CRUD</b></h2>
      </div>
      <div class="col">
        <a href="#nova-disciplina-modal" class="btn btn-primary" data-toggle="modal">
          <span class=" h-100 d-inline-block">
            <span class="material-icons  align-middle">add_circle_outline</span>
            <span class="ml-1 mb-1  align-middle">Adicionar nova disciplina</span>
          </span>
        </a>
      </div>
    </div>
    <div class="row">
      <table class="table table-dark table-hover" id="tabela-dados">
        <thead>
          <tr>
            <th class="campos">ID</th>
            <th class="campos">Nome</th>
            <th class="campos">Professor</th>
            <th class="campos">Período</th>
            <th class="campos">Classroom</th>
            <th class="campos">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="disciplina,status:${lista}" th:object="${disciplina}">
            <td th:text="*{id}" class="dados">1</td>
            <td th:text="*{nome}" class="dados">2</td>
            <td th:text="*{professor}" class="dados">3</td>
            <td th:text="*{periodo}" class="dados">4</td>
            <td th:text="*{codigo}" class="dados">5</td>
            <td>
              <a href="#excluir-disciplina-modal" data-toggle="modal" th:attr="data-id=*{id}" class="badge badge-primary text-white">
                <span class="material-icons"> delete </span>
              </a>
              <a href="#nova-disciplina-modal" data-toggle="modal" th:attr="data-id=${status.index}"
                class="badge badge-primary text-white">
                <span class="material-icons"> create </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- modal nova/edita disciplina -->
  <div id="nova-disciplina-modal" class="modal fade ">
    <div class="modal-dialog ">
      <div class="modal-content">
        <form action="/disciplina-grava" method="post" th:object="${disciplina}">
          <input type="hidden" name="id" id="id">
          <div class="modal-header bg-primary">
            <h4 class="text-white" id="titulo">Nova Disciplina</h4>
            <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body text-white bg-dark">
            <div class="form-group">
              <label>Nome</label>
              <input type="text" th:field="*{nome}" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Professor</label>
              <input type="text" th:field="*{professor}" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Período</label><br>
              <div th:each="p : ${#numbers.sequence(1,5)}" class="form-check form-check-inline">
                <input type="radio" class="form-check-input" th:field="*{periodo}" th:value="${p}"/>
                <label class="form-check-label" th:text="${p}">Periodo</label>
              </div>
            </div>
            <div class="form-group">
              <label>Código sala classroom</label>
              <input type="text" th:field="*{codigo}" class="form-control" required>
            </div>
          </div>
          <div class="modal-footer text-white bg-dark">
            <input type="submit" class="btn btn-primary" value="Cadastrar">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- modal confirma exclusão -->
  <div id="excluir-disciplina-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/excluir-disciplina" method="get">
          <input type="hidden" id="codigo" name="id">
          <div class="modal-header bg-primary">
            <h4 class="modal-title text-white">Excluir disciplina</h4>
            <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body text-white bg-dark">
            <p>
              Tem certeza que deseja excluir registro com id:
              <span id="codigo">id da disciplina</span>
            </p>
          </div>
          <div class="modal-footer bg-dark">
            <input type="button" class="btn btn-primary" data-dismiss="modal" value="Cancelar">
            <input type="submit" class="btn btn-danger" value="Excluir">
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
</html>