<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout">
<div th:fragment="conteudo">
  <div class="container mt-3">

    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4 text-center">Sistema Web MVC e SQL CRUD</h1>
      <p class="lead text-center">Exemplo de sistema CRUD - Entidades Disciplina e Professor</p>
      <p class="lead text-center">Abaixo temos as séries de vídeos desenvolvidos durante o curso em 2020</p>
    </div>

    <div class="row mb-3">
      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/1Qk_IAHY356bFMPef_YqIO573bp92jHze/preview"
            ></iframe>

          </div>
          <div class="card-body">
            <h5 class="card-title">Primeiro projeto</h5>
            <p class="card-text">Exemplo de uso do Spring Boot, Thymeleaf e Bootstrap - 4 métodos mapeados no
              controlador e 4 páginas html com templates thymeleaf</p>
            <div class="mx-auto d-block" style="width: 220px;">
              <a href="https://github.com/angoti/thymeleaf-exemplo1" class="btn btn-primary btn-sm">Repositório
                GitHub do projeto</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/1yVxKKsY0y4QtpRsteMcvrKCWK0IWYnX3/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">Do Initializr ao Bootstrap</h5>
            <h6 class="card-title mt-0">vídeo 1</h6>
            <p class="card-text">Série de 8 vídeos demonstrando a criação de um projeto Spring Boot e o
              desenvolvimento MVC</p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/1k5FIDVmehJ9bkf93FLw3ZuIaCI06eSq2/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">Do Initializr ao Bootstrap</h5>
            <h6 class="card-title mt-0">vídeo 2</h6>
            <p class="card-text">Série de 8 vídeos demonstrando a criação de um projeto Spring Boot e o
              desenvolvimento MVC</p>

          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/11mJHhFo_GdRClYDkfggKLNxgW0td7-N-/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">Do Initializr ao Bootstrap</h5>
            <h6 class="card-title mt-0">vídeo 3</h6>
            <p class="card-text">Série de 8 vídeos demonstrando a criação de um projeto Spring Boot e o
              desenvolvimento MVC</p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/1lQuJRM8bxvykz6Ci80JqAIoexBLY3_28/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">Do Initializr ao Bootstrap</h5>
            <h6 class="card-title mt-0">vídeo 4</h6>
            <p class="card-text">Série de 8 vídeos demonstrando a criação de um projeto Spring Boot e o
              desenvolvimento MVC</p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/1aAxOemH2DONMa7OyHTmqScrlzNQ2c30Q/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">Do Initializr ao Bootstrap</h5>
            <h6 class="card-title mt-0">vídeo 5</h6>
            <p class="card-text">Série de 8 vídeos demonstrando a criação de um projeto Spring Boot e o
              desenvolvimento MVC</p>

          </div>
        </div>
      </div>

    </div>

    <div class="row mb-3">
      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/17PzSPl2UtiolsNmWIBwv2Q8B0S5MHmY1/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">Do Initializr ao Bootstrap</h5>
            <h6 class="card-title mt-0">vídeo 6</h6>
            <p class="card-text">Série de 8 vídeos demonstrando a criação de um projeto Spring Boot e o
              desenvolvimento MVC</p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/1WsCD7UcVO-G1EAT7FDlu82_CEaMfTNdE/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">Do Initializr ao Bootstrap</h5>
            <h6 class="card-title mt-0">vídeo 7</h6>
            <p class="card-text">Série de 8 vídeos demonstrando a criação de um projeto Spring Boot e o
              desenvolvimento MVC</p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/1ER_yUEiIrACFwT4UWHQhOksb3ebloKyU/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">Do Initializr ao Bootstrap</h5>
            <h6 class="card-title mt-0">vídeo 8</h6>
            <p class="card-text">Série de 8 vídeos demonstrando a criação de um projeto Spring Boot e o
              desenvolvimento MVC</p>

          </div>
        </div>
      </div>

    </div>

    <div class="row mb-3">
      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/14wtsHAgwXdc1qB6DHLnShlozPbjoRkVq/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">JDBC</h5>
            <h6 class="card-title mt-0">vídeo 1</h6>
            <p class="card-text">Série de 6 vídeos onde mostro como usar banco de dados em uma aplicação Java usando
              JDBC</p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/1p86Zwam3n8qL1m2METG-a7mtj-HHVqd8/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">JDBC</h5>
            <h6 class="card-title mt-0">vídeo 2</h6>
            <p class="card-text">Série de 6 vídeos onde mostro como usar banco de dados em uma aplicação Java usando
              JDBC</p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/1XPSHposTVLeQRngx40V9x1mi6Cdc0GHM/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">JDBC</h5>
            <h6 class="card-title mt-0">vídeo 3</h6>
            <p class="card-text">Série de 6 vídeos onde mostro como usar banco de dados em uma aplicação Java usando
              JDBC</p>

          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/1i46E8M6UZftIyh_84qoRxrRFS0WZA2KP/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">JDBC</h5>
            <h6 class="card-title mt-0">vídeo 4</h6>
            <p class="card-text">Série de 6 vídeos onde mostro como usar banco de dados em uma aplicação Java usando
              JDBC</p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/1cZv27JERYw64cGVHJL2NfSdvu_mjruBk/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">JDBC</h5>
            <h6 class="card-title mt-0">vídeo 5</h6>
            <p class="card-text">Série de 6 vídeos onde mostro como usar banco de dados em uma aplicação Java usando
              JDBC</p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/1yuVrdJ3oq1uAg0IQRLBCr2NoxXGlRf8V/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">JDBC</h5>
            <h6 class="card-title mt-0">vídeo 6</h6>
            <p class="card-text">Série de 6 vídeos onde mostro como usar banco de dados em uma aplicação Java usando
              JDBC</p>

          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/15_uUwfs9YHcjb1sxSqz7j4lkmJOdbg4u/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">Série CRUD</h5>
            <h6 class="card-title mt-0">vídeo 1</h6>
            <p class="card-text">Série de vídeos demonstrando o desenvolvimento de uma aplicação crud (Create, Read,
              Update, Delete) usando uma tabela</p>
            <div class="mx-auto d-block" style="width: 220px;">
              <a href="https://github.com/angoti/crud-disciplinas" class="btn btn-primary btn-sm">Repositório GitHub
                do projeto</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
              src="https://drive.google.com/file/d/1jaaVPgVGLGs_IGVKOmlPwR1E6HfUrCU5/preview"
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-0">Série CRUD</h5>
            <h6 class="card-title mt-0">vídeo 2</h6>
            <p class="card-text">Série de vídeos demonstrando o desenvolvimento de uma aplicação crud (Create, Read,
              Update, Delete) usando uma tabela</p>
            <div class="mx-auto d-block" style="width: 220px;">
              <a href="https://github.com/angoti/crud-disciplinas" class="btn btn-primary btn-sm">Repositório GitHub
                do projeto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <!--             <div id="player"></div> -->
  <script type="text/javascript">
			// 2. This code loads the IFrame Player API code asynchronously.
			var tag = document.createElement('script');

			tag.src = "https://www.youtube.com/iframe_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

			// 3. This function creates an <iframe> (and YouTube player)
			//    after the API code downloads.
			var player;
			function onYouTubeIframeAPIReady() {
				player = new YT.Player('player', {
					height : '360',
					width : '640',
					videoId : 'M7lc1UVf-VE',
					events : {
						'onReady' : onPlayerReady,
						'onStateChange' : onPlayerStateChange
					}
				});
			}

			// 4. The API will call this function when the video player is ready.
			function onPlayerReady(event) {
				event.target.playVideo();
			}

			// 5. The API calls this function when the player's state changes.
			//    The function indicates that when playing a video (state=1),
			//    the player should play for six seconds and then stop.
			var done = false;
			function onPlayerStateChange(event) {
				if (event.data == YT.PlayerState.PLAYING && !done) {
					setTimeout(stopVideo, 6000);
					done = true;
				}
			}
			function stopVideo() {
				player.stopVideo();
			}
		</script>

</div>
</html>